# Python
__pycache__/
*.py[cod]
*$py.class
.env

# Node
node_modules/
dist/
.env.local

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
.vs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# venv
packages/backend/.venv/